<app-navbar></app-navbar>

<app-banner [url]="url"></app-banner>

<!--================Contact Area =================-->
<section class="contact_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h4>Direccion:</h4>
        <div class="contact_info">
          <div class="info_item">
            <i class="fal fa-home"></i>
            <h6>Lima, Perú</h6>
            <p>San Martin de Porres, Av José Granda Cdra 33</p>
          </div>
          <div class="info_item">
            <i class="fal fa-phone"></i>
            <h6><a href="#">983 332 320</a></h6>
            <p>Lunes a Viernes de 9:00am a 6:00pm</p>
          </div>
          <div class="info_item">
            <i class="fal fa-envelope"></i>
            <h6><a href="#">yanninadesiree13@hotmail.com</a></h6>
            <p>Envianos un email en cualquier momento!</p>
          </div>
          <div class="info_item">
            <i class="fas fa-map-marker-alt"></i>
            <h6><a href="#">Ubicanos</a></h6>
            <p>Ubicanos en el mapa para mayor seguridad</p>
          </div>
        </div>
        <app-maps></app-maps>
      </div>
      <div class="col-lg-6" style="margin-top: 15px;">
        <h4>Escribenos:</h4>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</section>
<!--================Contact Area =================-->
<app-footer></app-footer>