<!--================Header Menu Area =================-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand logo_h" [routerLink]="['/pages/index']">
      <img src="/assets/img/logo_boca2_bg.png" width="auto" height="60px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/index']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" >
          <a class="nav-link" [routerLink]="['/pages/about']">Quienes Somos?</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/pages/productos']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/gallery']">Galeria</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/pages/contacto']">Contactos</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>

<!--================Header Menu Area =================-->
