<app-navbar></app-navbar>
<!--================ Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h1>About Us</h1>
        <div class="page_link">
          <a href="index.html">Home</a>
          <a href="about-us.html">About Us</a>
        </div>
      </div>
    </div>
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>
    <div class="shape shape4"></div>
    <div class="shape shape5"></div>
    <div class="shape shape6"></div>
    <div class="shape shape7"></div>
  </div>
</section>
<!--================End Banner Area =================-->
<!--================Story Area =================-->
<section class="about_story_area section_gap">
  <div class="container">
    <div class="row story_inner">
      <div class="col-lg-8">
        <div class="story_text">
          <h3>Quienes Somos?</h3>
          <hr>
          <p>Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="story_img">
          <img class="img-fluid" width="400px" height="400px" src="../../../assets/img/story/story-1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h4>Misión:</h4>
        <hr>
        <p>Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
      </div>
      <div class="col-lg-6">
        <h4>Vision:</h4>
        <hr>
        <p>Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
      </div>
    </div>
  </div>
</section>
<!--================End Story Area =================-->
<app-footer></app-footer>