<app-navbar></app-navbar>

<app-banner [url]="url"></app-banner>

<!--================Story Area =================-->
<section class="about_story_area section_gap">
  <div class="container">
    <div class="row story_inner">
      <div class="col-lg-8">
        <div class="story_text">
          <h3>Quienes Somos?</h3>
          <hr>
          <p>Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="story_img">
          <img class="img-fluid" width="400px" height="400px" src="../../../assets/img/story/story-1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h4>Misión:</h4>
        <hr>
        <p>Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
      </div>
      <div class="col-lg-6">
        <h4>Vision:</h4>
        <hr>
        <p>Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
      </div>
    </div>
  </div>
</section>
<!--================End Story Area =================-->
<app-footer></app-footer>