<!--================Offcanvus Menu Area =================-->
<div class="side_menu">
    <a class="logo" [routerLink]="['/pages/index']">
        <img src="../../../../assets/img/logo.png" alt="">
    </a>
    <ul class="list menu_right">
        <li>
            <a [routerLink]="['/pages/index']" >Inicio</a>
        </li>
        <li>
            <a [routerLink]="['/pages/about']">About</a>
        </li>
        <li>
            <a [routerLink]="['/pages/menu']">Menu</a>
        </li>
        <!-- <li>
            <a [routerLink]="['/pages/index']">Book a table</a>
        </li> -->
        <li>
            <a href="javascript:;">Multimedia</a>
            <ul class="list">
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="elements.html">Elements</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="#">Blog</a>
            <ul class="list">
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="single-blog.html">Blog Details</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a [routerLink]="['/pages/contact']">Contact</a>
        </li>
    </ul>
    <ul class="list social">
        <li>
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-dribbble"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-behance"></i>
            </a>
        </li>
    </ul>
</div>
<!--================End Offcanvus Menu Area =================-->