<!--================Offcanvus Menu Area =================-->
<div class="side_menu">
    <a class="logo" [routerLink]="['/pages/index']">
        <img src="../../../../assets/img/logo.png" alt="">
    </a>
    <ul class="list menu_right">
        <li>
            <a [routerLink]="['/pages/index']" >Inicio</a>
        </li>
        <li>
            <a href="about-us.html">About</a>
        </li>
        <li>
            <a href="menu.html">Menu</a>
        </li>
        <li>
            <a href="book-table.html">Book a table</a>
        </li>
        <li>
            <a href="#">Pages</a>
            <ul class="list">
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="elements.html">Elements</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Blog</a>
            <ul class="list">
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="single-blog.html">Blog Details</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
    </ul>
    <ul class="list social">
        <li>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-dribbble"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-behance"></i>
            </a>
        </li>
    </ul>
</div>
<!--================End Offcanvus Menu Area =================-->