<!--================Offcanvus Menu Area =================-->
<div class="side_menu">
  <a class="logo" [routerLink]="['/pages/index']">
    <img src="../../../../assets/img/logo.png" alt="">
  </a>
  <ul class="list menu_right">
    <li>
      <a [routerLink]="['/pages/index']">Inicio</a>
    </li>
    <li>
      <a [routerLink]="['/pages/about']">Quienes Somos?</a>
    </li>
    <li>
      <a [routerLink]="['/pages/menu']">Productos</a>
    </li>
    <li>
      <a href="javascript:;">Multimedia</a>
      <ul class="list">
        <li>
          <a [routerLink]="['/pages/gallery']">Gallery</a>
        </li>
        <li>
          <a href="elements.html">Eventos</a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/pages/contacto']">Contactos</a>
    </li>
  </ul>
  <ul class="list social">
    <li>
      <a href="#" class="social-icon social-icon-sm social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
        <i class="fab fa-facebook-f facebook"></i>
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-icon social-icon-sm social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
        <i class="fab fa-twitter twitter"></i>
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-icon social-icon-sm social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
        <i class="fab fa-linkedin linkedin"></i>
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="#" class="social-icon social-icon-sm social-youtube" data-toggle="tooltip" data-placement="top" title="Youtube">
        <i class="fab fa-youtube youtube"></i>
        <i class="fab fa-youtube"></i>
      </a>
    </li>
  </ul>
</div>
<!--================End Offcanvus Menu Area =================-->