<section id="wrapper" class="error-page mt-5">
    <div class="error-box">
      <div class="error-body text-center m-t-30">
        <img
          src="/assets/img/error-404-foxplay-1280x720.png"
          alt=""
          width="400px"
          height="400px"
          class="img-fluid"
        />
        <h1>404</h1>
        <h3 class="text-uppercase">Pagina no Encontrada!</h3>
        <p class="text-muted m-t-30 m-b-30">
          La pagina a la que intentas acceder se encuentra en construcción.
          Disculpas las molestias causadas.
        </p>
        <a routerLink="/pages/index" class="btn btn-info btn-rounded m-b-40">
          <i class="fas fa-home"></i> Regresar</a
        >
      </div>
    </div>
  </section>
  